<mat-drawer-container>

  <mat-drawer-content>
   <app-side-menu class="sideMenuContainer" [chapterList]="chaptList$|async"></app-side-menu>
   <div class="contentContainer">
     <app-header class=""></app-header>
     <app-top-menu class="topMenuContainer" [chapterList]="chaptList$|async"></app-top-menu>
    <router-outlet></router-outlet>
   </div>

  </mat-drawer-content>
</mat-drawer-container>


